# 1. ไฟล์ความลับ (Environment Variables)
.env

# 2. ไฟล์ที่ Go คอมไพล์และสร้างขึ้นมา (ครอบคลุมทั้ง Windows, Mac, Linux)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.a

# 3. โฟลเดอร์ที่เก็บ Dependencies ของ Go
vendor/

# 4. ไฟล์ขยะจากระบบปฏิบัติการ
.DS_Store